<div>
  <div class="container-fluid">
    <div class="row home-lightblock margin-top-20">
      <div class="col-sm-offset-3 col-sm-6 margin-top-20 text-center">
        <div class="row margin-bottom-40">
          <h4>Estimates & Invoices</h4>
          <h1>Manage your Invoices with CRM Tool</h1>
          <p>Sell your service and other products with our CRM Tools</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">


    <div class="row margin-bottom-20">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <div class="row">
          <div class="service">

            <div class="desc">
              <h4 class="color-dark-blue">Bizns Tool allows you to quickly and easily create professional looking estimates.</h4>
              <p>
                Once a quote is accepted, it can easily be converted to an invoice. Faster billing leads to faster payments.
              </p>
              <p>With Bizns Tool, you'll be able to create orders, track invoices, and update relevant information such as total amounts, taxes, and discounts applied.</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="service">

            <div class="desc">
              <h4 class="color-dark-blue">Gain Financial Insight</h4>
              <p>Get new insight from the statistics created by time tracking your projects.</p>
              <p>Set your financial goals for each quarter and consult intelligent reports that show the progress of your invoiced sales.</p>
              <p>Bizns Tool does more than just track your clients and notify you. It tracks your invoices too.</p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-4">
      </div>

    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <img class="img-responsive full-width equal-height-column" src="/assets/images/bizns/inventory.jpg" alt="Create Estimates and Invoices with Customer Relationship Management" />
      </div>
    </div>
  </div>
</div>