<div>
  <!-- === Purchase Block === -->
  <div class="purchase">
    <div class="margin-top-20 margin-bottom-20 container overflow-h">
      <div class="row">
        <div class="col-sm-12 animated fadeInLeft">
          <span>Finally ― A CRM That Fits Small Business !</span>
          <h1>Simply Log On and Start.</h1>
          <p class="margin-top-20">
            If you are all about running your business, you do not need a CRM that runs you.
          </p>
          <p>
            That's why Bizns Tool (pronounced 'Business Tool') is the CRM tool for <b>small businesses, micro businesses, freelancers and contractors</b>.
          </p>
          <p>
            There are no time-consuming learning curves here - just an easy interface and a convenient location for you to keep your small business organized.  Simply log on and start.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 btn-buy animated fadeInRight">
          <a href="/signup" class="btn-c btn-c-lg"><i class="fa fa-cloud-download"></i> Get Started for Free!</a>
        </div>
      </div>
    </div>
  </div><!-- /row -->
  <!--  End Purchase Block  -->

  <div class="container-fluid">
    <div class="row home-darkblock">
      <div class="col-sm-12 margin-top-20 text-center">
        <div class="row margin-bottom-40">
          <h1>Manage Everything That Matters in a SIMPLE & EASY CRM.</h1>
          <p>When you log in, you'll get a quick snapshot of everything that matters. See what's in your sales pipeline (new leads and opportunities).</p>
          <p>Stay on top of important dates (events, meetings and deadlines). It's Simple and Easy</p>
          <p> We have the most intuitive and user-friendly interface. From the dashboard access your calendar, leads, accounts, opportunities, campaigns and reports. </p>
          <p>We kept it simple and easy so you can focus your energy on business operations and growth, not becoming a CRM expert. </p>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <img class="img-responsive home-darkbg-img" src="/assets/images/bizns/dashboard.jpg" alt="CRM Dashboard to manage everything at one place" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row margin-top-20 margin-bottom-20 home-lightblock">

      <div class="col-sm-12">
        <div class="row text-center" style="padding:20px">
          <div class="col-sm-12">
            <h1>Do Bizns Everywhere You Go ― From Your Desk or Phone</h1>
            <p>You never know when a new business lead or opportunity will come your way. </p>
            <p>Even when you are on the go, you can stay organized! Bizns Tool is mobile-responsive ― very easy to use from any mobile device.  </p>
            <p>Turn every business card you receive into an active lead in seconds. Just log in and enter the details from your computer or mobile web browser. </p>
            <p>No downloads required. Keep your business data up to date no matter where you go or when opportunity strikes. </p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-offset-4 col-sm-4">
            <img class="img-responsive" src="/assets/images/bizns/homephone.png" alt="Bizns Tool CRM connects with Desktops and Mobile Device" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row home-darkblock">
      <div class="col-sm-12 margin-top-20 text-center">
        <div class="row margin-bottom-10">
          <h1>Highly Cost-Effective for Any Small Business</h1>
          <p>Choose from three levels of service to fit your needs. Not sure what you need? Start with our free plan, or sign up for a free trial of our basic or standard level. </p>
          <p> Support is always available to help you get the most from any plan you choose.</p>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <div class="pricing-head">
              <h3>
                <span class="pricehead">Free</span>
                <span class="label label-success" style="padding:20%;text-align:center">
                                    <b style="font-size:16px">$</b>
                                    <strong>0</strong>
                                </span>
                <span class="label-success">
                                    <em>
                                        always free
                                    </em>
                                </span>
              </h3>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="pricing-head">
              <h3>
                <span class="pricehead">Basic</span>
                <span class="label label-success" style="padding:20%;text-align:center">
                                    <b style="font-size:16px">$</b>
                                    <strong>4</strong>
                                </span>
                <span class="label-success">
                                    <em>
                                        per user/month
                                    </em>
                                </span>
              </h3>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="pricing-head">
              <h3>
                <span class="pricehead">Standard</span>
                <span class="label label-success" style="padding:20%;text-align:center">
                                    <b style="font-size:16px">$</b>
                                    <strong>8</strong>
                                </span>
                <span class="label-success">
                                    <em>
                                        per user/month
                                    </em>
                                </span>
              </h3>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p align="center"><a href="/signup" class="btn-c btn-c-lg text-center"><i class="fa fa-cloud-download"></i>  <b>15</b> Days Free Trial</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- === Content Part === -->
  <div class="container content-sm">
    <div class="row home-lightblock">
      <div class="col-md-12">
        <div><h1 style="text-align:center; color:#4765a0">Key Bizns Tool Features</h1></div>
        <!--  Service Blocks  -->
        <div class="row margin-bottom-30">

          <div class="col-md-4">
            <div class="service">

              <div class="desc">
                <h4><i class="fa fa-stack-exchange service-icon"></i>Sales Organization</h4>
                <p>Manage and track leads and opportunities assigned to any one on your team. With simplified databases, graphics and reports, you will always know how business is progressing.</p>
                <a href="/crm/sales-automation" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="desc">
                <h4><i class="fa fa-users service-icon"></i>User Management</h4>
                <p>Bizns Tool lets you grant account access to partners and team members. But you always maintain full control by customizing access for each user.</p>
                <a href="/crm/team-calendar" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="desc">
                <h4><i class="fa fa-cogs service-icon"></i>Integration</h4>
                <p>Operate more efficiently by connecting Bizns Tool to other applications you use every day, such as QuickBooks Online, MailChimp, Gmail and Outlook.</p>
                <a href="/crm/app-integrations" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin-bottom-30">

          <div class="col-md-4">
            <div class="service">

              <div class="desc">
                <h4><i class="fa fa-user service-icon"></i>Lead and Contact Management</h4>
                <p>Bizns Tool allows you to maintain complete records of leads and business contacts, as well as meetings and documents that are associated with them. No need to thumb through sticky notes and paper files anymore.</p>
                <a href="/crm/contact-management" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="desc">
                <h4><i class="fa fa-list-alt service-icon"></i>Quotes - Invoicing</h4>
                <p>You already know how important it is to invoice your customers. By invoicing through Bizns Tool, your CRM will become a powerful resource for financial reporting and time-saving efficiency.</p>
                <a href="/crm/quotes-invoices" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="desc">
                <h4><i class="fa fa-flag-checkered service-icon"></i>Reports</h4>
                <p>Bizns Tool reports provide insights that will allow you to make smart business decisions. Bizns supports daily, weekly, monthly and annual reporting of leads, customers, sales and marketing activities, and marketing campaigns.</p>
                <a href="/crm/business-reports" class="btn-sm btn-success text-center">More Info</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
