<div>
  <div class="container-fluid">
    <div class="row home-lightblock margin-top-20">
      <div class="col-sm-offset-3 col-sm-6 margin-top-20 text-center">
        <div class="row margin-bottom-40">
          <h4>Calendar</h4>
          <h1>Interactive Events, Tasks and Effective Team Collaboration</h1>
          <p>
            Events, Tasks, Add Users and Control Access with our CRM Tools
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row margin-bottom-20">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <div class="row">
          <div class="service">
            <div class="desc">
              <h4 class="color-dark-blue">Manage Meetings and Key Dates</h4>
              <p>Bizns Tool provides a daily, weekly and monthly glance at business meetings, tasks and other important dates as they are assigned to yourself or your team members.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="service">

            <div class="desc">
              <h4 class="color-dark-blue">Greater Efficiency with Drag & Drop Templates</h4>
              <p>
                Maintain uniformity and save time with handy templates that, once created, can be dragged into the calendar and dropped onto the dates on which they will occur.
              </p>
              <p>Just one quick glance is all you will need to know just how busy your day, week or month will be.</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="service">

            <div class="desc">
              <h4 class="color-dark-blue">Manage Business with Effective Team Collaboration</h4>
              <p>
                The Bizns Tool provides you and your team with an easy way to stay on team tasks. Bizns tool lets you team feature like
              </p>
              <h5>Assign roles to CRM team users based on their job functions.</h5>
              <h5>Enable/disable access to specific  modules</h5>
              <h5>Create, edit, update and delete permissions anytime.</h5>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-4">
      </div>

    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <img class="img-responsive home-lightbg-img" src="/assets/images/bizns/team.jpg" alt="Create Events and Tasks with CRM" />
      </div>
    </div>

  </div>


</div>