<div class="container content">

  <div class="row text-center home-lightblock">
    <div class="col-sm-12">
      <h4>Pricing Plans</h4>
      <h1 style="color:#4765a0">Simple Plans For Small Business</h1>
      <p>Bizns Tool Tool has plans to fit every small business budget. Save even more money with annual billing.</p>
    </div>
  </div>


  <!--  Pricing Mega v2  -->
  <div class="row no-space-pricing pricing-mega-v2">
    <div class="col-md-3 col-sm-6 hidden-sm hidden-xs test">
      <div class="pricing hidden-area">
        <ul class="pricing-content list-unstyled">

          <li class="bg-color">
            <i class="fa fa-users"></i>Number of Users
          </li>
          <li>
            <i class="fa fa-sticky-note"></i>Custom Forms
          </li>
          <li class="bg-color">
            <i class="fa fa-bars"></i>Email Templates
          </li>
          <li>
            <i class="fa fa-cogs"></i>Integrations
          </li>
          <li class="bg-color">
            <i class="fa fa-users"></i>Email Configuration
          </li>
          <li>
            <i class="fa fa-calendar"></i>Calender Templates
          </li>
          <li class="bg-color">
            <i class="fa fa-balance-scale"></i>Sales Automation
          </li>
          <li>
            <i class="fa fa-book"></i>Contact Management
          </li>


          <li class="bg-color">
            <i class="fa fa-flag"></i>Analytics and Reporting
          </li>
          <li>
            <i class="fa fa-question-circle"></i>Support
          </li>
          <li class="bg-color">
            <i class="fa fa-users"></i>Team Management
          </li>
          <li>
            <i class="fa fa-check-circle"></i>Module Based Permissions
          </li>

          <li class="bg-color">
            <i class="fa fa-filter"></i>Project Activities
          </li>
          <li>
            <i class="fa fa-list-alt"></i>Quotes
          </li>
          <li class="bg-color">
            <i class="fa fa-list-alt"></i>Invoicing
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 block">
      <div class="pricing">
        <div class="pricing-head">
          <h3>
            Free
            <span class="label label-success" style="padding-bottom:16px">
                            <b style="font-size:16px">$</b>
                            <strong>0</strong>
                            <em>
                            </em>
                        </span>
            <span class="label label-success">
                            <em>
                                always free
                            </em>
                        </span>
          </h3>
        </div>
        <ul class="pricing-content list-unstyled ">

          <li class="bg-color">
            <i>1</i>
            <span class="hidden-md hidden-lg">number of users</span>
          </li>
          <li>
            <i>2</i><span class="hidden-md hidden-lg">Custom Forms</span>
          </li>
          <li class="bg-color">
            <i>2</i><span class="hidden-md hidden-lg">Email Templates</span>
          </li>
          <li>
            <i>Limited</i>
            <span class="hidden-md hidden-lg">Integrations</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Email Configuration</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Calender Templates</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Sales Automation</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Contact Management</span>
          </li>

          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Analytics and Reporting</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Support</span>
          </li>
          <li class="bg-color">
            <i></i>
            <span class="hidden-md hidden-lg">Team Management</span>
          </li>
          <li>
            <i></i>
            <span class="hidden-md hidden-lg">Module Based Permissions</span>
          </li>
          <li class="bg-color">
            <i></i>
            <span class="hidden-md hidden-lg">Project Activities</span>
          </li>
          <li>
            <i></i>
            <span class="hidden-md hidden-lg">Quotes</span>
          </li>
          <li class="bg-color">
            <i></i>
            <span class="hidden-md hidden-lg">Invoicing</span>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 block">
      <div class="pricing">
        <div class="pricing-head">
          <h3>
            Basic
            <span class="label label-success">
                            <b style="font-size:16px">$</b>
                            <strong>4</strong>
                            <em>
                                per user/month
                                (billed annually)
                            </em>
                        </span>
            <span class="label label-success">
                            <em>
                                $6 per user/month
                                (billed monthly)
                            </em>
                        </span>
          </h3>
        </div>
        <ul class="pricing-content list-unstyled ">

          <li class="bg-color">
            <i>Multiple</i>
            <span class="hidden-md hidden-lg">number of users</span>
          </li>
          <li>
            <i>10</i><span class="hidden-md hidden-lg">Custom Forms</span>
          </li>
          <li class="bg-color">
            <i>10</i><span class="hidden-md hidden-lg">Email Templates</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Integrations</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Email Configuration</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Calender Templates</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Sales Automation</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Contact Management</span>
          </li>

          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Analytics and Reporting</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Support</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Team Management</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Module Based Permissions</span>
          </li>
          <li class="bg-color">
            <i></i>
            <span class="hidden-md hidden-lg">Project Activities</span>
          </li>
          <li>
            <i></i>
            <span class="hidden-md hidden-lg">Quotes</span>
          </li>
          <li class="bg-color">
            <i></i>
            <span class="hidden-md hidden-lg">Invoicing</span>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 block">
      <div class="pricing">
        <div class="pricing-head">
          <h3>
            Standard
            <span class="label label-success">
                            <b style="font-size:16px">$</b>
                            <strong>8</strong>
                            <em>
                                per user/month
                                (billed annually)
                            </em>
                        </span>
            <span class="label label-success">
                            <em>
                                $10 per user/month
                                (billed monthly)
                            </em>
                        </span>
          </h3>
        </div>
        <ul class="pricing-content list-unstyled ">

          <li class="bg-color">
            <i>Multiple</i>
            <span class="hidden-md hidden-lg">number of users</span>
          </li>
          <li>
            <i>15</i><span class="hidden-md hidden-lg">Custom Forms</span>
          </li>
          <li class="bg-color">
            <i>15</i><span class="hidden-md hidden-lg">Email Templates</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Email Configuration</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Calender Templates</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Integrations</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Sales Automation</span>
          </li>
          <li>
            <i class="fa fa-check"></i><span class="hidden-md hidden-lg">Contact Management</span>
          </li>

          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Analytics and Reporting</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Support</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Team Management</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Module Based Permissions</span>
          </li>
          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Project Activities</span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Quotes</span>
          </li>

          <li class="bg-color">
            <i class="fa fa-check"></i>
            <span class="hidden-md hidden-lg">Invoicing</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!--  End Pricing Mega v2  -->

  <div class="row home-lightblock">
    <div class="col-sm-12 margin-top-20 margin-bottom-20">
      <p align="center"><a href="/signup" class="btn-c btn-c-lg text-center"><i class="fa fa-cloud-download"></i> <b>15</b> Days Free Trial </a></p>
    </div>
  </div>

  <div class="row home-lightblock">
    <div class="col-sm-12 margin-top-20 margin-bottom-20">

      <h1 class="text-center" style="color:#4765a0">Frequently Asked Questions</h1>

      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <h4>
                When will I be billed?
              </h4>
              <p>
                After your free trial, if you chose to a paid plan, we will bill you based on the number of users and the period you have chosen (annual or monthly).
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>
                What payment methods do you accept?
              </h4>
              <p>
                We accept Visa, MasterCard, American Express and Discover debit and credit cards.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>
                Can I cancel my account and get a refund?
              </h4>
              <p>
                If you have chosen monthly billing, you may request a cancellation on the last day of your billing cycle. We do not offer refunds.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <h4>
                Can I upgrade, downgrade or cancel anytime?
              </h4>
              <p>
                You may upgrade at any time. You may request a downgrade at the end of your billing cycle. Please note that we do not offer refunds.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>
                Will I be charged for inactive users?
              </h4>
              <p>
                You will be charged for the total number of users that you register, whether the user is active or inactive.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">

              <h4>
                Can I change my payment method from annual to monthly?
              </h4>
              <p>
                You may change from monthly to annual billing at any time. To change from annual to monthly billing, you must wait until the end of the annual billing cycle.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- /container -->
<!-- === End Content Part === -->